# Rust
/target
**/*.rs.bk

# IDE / OS
.idea/
.vscode/
.DS_Store

# Docker
**/*.log

# PeerReview logs & demos
peerreview_logs/
peerreview_logs_*/
tmp/

# Python / venv
.venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Python envs
.env

# Jupyter / misc
.ipynb_checkpoints/
Thumbs.db
